.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--padding-large);
    &__item {
      background-color: var(--white);
      border-radius: var(--radius-medium);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--padding-small);
    }
  }
}
@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 375px) {
  .container {
    &__content {
      gap: var(--padding-medium);
    }
  }
}

@media (prefers-color-scheme: dark) {
}
