.header {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  position: fixed;
  bottom: 0;
  text-align: center;
  max-width: var(--max-width);
  width: 100%;
}
.cta {
  padding: var(--padding-medium) 0;
  background-color: var(--color-primary);
  color: var(--white);
  width: 100%;
}
.sub {
  background-color: var(--color-background);
}
